<head>      
    <title>Halaman Tidak Ditemukan</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
<div class="page-error tile">
    <h1><i class="fa fa-exclamation-circle"></i> Error 404: Halaman tidak ada</h1>
    <p style="color: rgb(255, 153, 0);">Halaman yang anda cari tidak ditemukan</p>        
    <p><a class="btn btn-primary" href="javascript:window.history.back();">Kembali</a></p>    
</div>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pace.min.js"></script>