<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>MIRACLE IT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/logo.png">
  <link media="all" type="text/css" rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include ('navbar/header') %>
  <br>  <br>  <br>  <br>

  <div class="container">      
    <div class="row">
      <svg width="1380" height="863" viewBox="0 0 1380 863" fill="none" xmlns="http://www.w3.org/2000/svg" id="curve">
        <path d="M329.223 92.1403C897.547 143.708 1348.97 -66.4275 1391.4 22.0019C1433.83 110.431 1391.4 668.459 1391.4 776.537C1391.4 884.616 581.4 882.073 313.4 816.073C45.3995 750.073 -239.1 40.5723 329.223 92.1403Z" fill="#155DAB"/>
        </svg>
        
        <div class="col-md-5 text-right">
        <div class="sep-top-md sep-bottom-sm">
          <div class="bordered-right section-title">
            <h2 class="upper">
              MIRACLE
              <br>
              IT
            </h2>
          </div>`
          <p class="lead">
            MIRACLE IT hadir sebagai mitra Anda untuk solusi bagi Anda yang membutuhkan berbagai peralatan elektronik. <br>
            Kami menghadirkan berbagai solusi mulai dari konsultasi jenis 
          </p>
        </div>
      </div>
      <div class="col-md-7">       
        <img class="img-fluid" src="/images/foto.png" alt="" width="60%">
      </div>
    </div>
  </div> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="reload/reload.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
</body>
</html>
