.navbar {
    background-color: #333;
    font-family: Arial;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: #7d7d7e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .dropdown {
    position: absolute;
    left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  
 
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:#7d7d7e;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }  

  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  .baris{
    display: flex;
    padding: 15px;
    max-width: 100%;
  }

  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  

  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
