*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align: baseline;
}

footer{
    padding: 0 5%;
    margin-bottom: 20px;
    color : #289Dff;
}
footer p, .footerPages{
    display: inline-block;
}
.footerPages{
    float:right;
}
.footerPages a{
    text-decoration: none ;
    font-weight: 100pt;
    color: #289dff;
    margin-left:30px;
}