<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css">  
    <link media="all" type="text/css" rel="stylesheet" href="/css/header.css">
  
        <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link rel="stylesheet" href="bootsnav.css">
  <script src="bootsnav.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  
  </head>
  <body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Brand/logo -->
    <div class="container">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="" style="width: 100px; height: 50px;"></i></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Links -->
      <ul class="navbar-nav ml-auto" style="font-family: Arial, Helvetica, sans-serif; font-size: larger;">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Tentang Kami</a>
        </li>
        <div class="dropdown">
          <button class="dropbtn">Catalog
          </button>
          <div class="dropdown-content">
            <div class="baris">
              <a href="/catalog/1">Router</a>
              <a href="/catalog/2">Switch</a>
              <a href="/catalog/3">Server and storage</a>
            </div>
            <div class="baris">
              <a href="/catalog/4">Firewall</a>
              <a href="/catalog/5">Access point</a>
              <a href="/catalog/6">Meeting Solution</a>              
            </div>
            <div class="baris">              
              <a href="/catalog/7">Endpoint Firewall</a>
              <a href="/catalog/8">CCTV and Access Control</a>
              <a href="/catalog/9">Laptop and PC</a>
            </div>
            <div class="baris">              
              <a href="/catalog/10">Structured Cable</a>
              <a href="/catalog/11">Acces Control</a>
            </div>
            
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hubungi">Hubungi Kami</a>
        </li>
        <li><a href="/keranjang"><span class="fa fa-shopping-cart"></span></a></li>
      </ul>
    </div>
  </div>
  </nav>

</body>  
</html>